<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

</head>

<body ng-controller="ctrl">

    <div class="login-card">
        <h1>Welcome Back, Log-in</h1><br>
        <form>
            <input type="text" name="user" placeholder="Username" ng-model="username">
            <input type="password" name="pass" placeholder="Password" ng-model="password">
            <input type="submit" name="login" class="login login-submit" value="login" ng-click="login()">
        </form>

        <div class="login-help">
        </div>
        <div class="login-help">
            <a href="../signup/signup.html">Register</a> • <a href="#">Forgot Password</a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="loginApp.js"></script>

</body>
</html>